<!-- <p>addorupdate works!</p> -->
<div class="container">
    <div class="row d-center">
        <div class="col-md-6 bgblur">
            <div>
                <h2 class="text-center text-success">{{ title }} Employee</h2>
            </div>
            <form [formGroup]="empFormGroup">
                <div class="form-group mb-3">
                  <label for="empname" class="form-label">Name</label>
                  <input
                    type="text"
                    formControlName="empname"
                    id="empname"
                    class="form-control"
                  />
                  <div *ngIf="empFormGroup.controls['empname'].touched && empFormGroup.controls['empname'].invalid" class="text-danger">
                    <small *ngIf="empFormGroup.controls['empname'].hasError('required')">Name is required.</small>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <label for="empdob" class="form-label">Date of Birth</label>
                  <input
                    type="date"
                    formControlName="empdob"
                    id="empdob"
                    class="form-control"
                  />
                  <div *ngIf="empFormGroup.controls['empdob'].touched && empFormGroup.controls['empdob'].invalid" class="text-danger">
                    <small *ngIf="empFormGroup.controls['empdob'].hasError('required')">Date of Birth is required.</small>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <label for="empemail" class="form-label">Email</label>
                  <input
                    type="email"
                    formControlName="empemail"
                    id="empemail"
                    class="form-control"
                  />
                  <div *ngIf="empFormGroup.controls['empemail'].touched && empFormGroup.controls['empemail'].invalid" class="text-danger">
                    <small *ngIf="empFormGroup.controls['empemail'].hasError('required')">Email is required.</small>
                    <small *ngIf="empFormGroup.controls['empemail'].hasError('email')">Enter a valid email address.</small>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <label for="empdoj" class="form-label">Date of Joining</label>
                  <input
                    type="date"
                    formControlName="empdoj"
                    id="empdoj"
                    class="form-control"
                  />
                  <div *ngIf="empFormGroup.controls['empdoj'].touched && empFormGroup.controls['empdoj'].invalid" class="text-danger">
                    <small *ngIf="empFormGroup.controls['empdoj'].hasError('required')">Date of joining is required.</small>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <label for="empphone" class="form-label">Phone Number</label>
                  <input
                    type="tel"
                    formControlName="empphone"
                    id="empphone"
                    class="form-control"
                  />
                  <div *ngIf="empFormGroup.controls['empphone'].touched && empFormGroup.controls['empphone'].invalid" class="text-danger">
                    <small *ngIf="empFormGroup.controls['empphone'].hasError('required')">Phone number is required.</small>
                    <small *ngIf="empFormGroup.controls['empphone'].hasError('minlength')">Phone number must be 10 digits.</small>
                    <small *ngIf="empFormGroup.controls['empphone'].hasError('maxlength')">Phone number must not exceed 10 digits.</small>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <label for="empsal" class="form-label">Salary</label>
                  <input
                    type="text"
                    formControlName="empsal"
                    id="empsal"
                    class="form-control"
                  />
                  <div *ngIf="empFormGroup.controls['empsal'].touched && empFormGroup.controls['empsal'].invalid" class="text-danger">
                    <small *ngIf="empFormGroup.controls['empsal'].hasError('required')">Salary is required.</small>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <label for="" class="form-label">Gender: </label> &nbsp;&nbsp;&nbsp;
                  <div *ngFor="let gnd of genders" class="gnd">
                    <input 
                      type="radio"
                      [value]="gnd.genderid"
                      formControlName="empgender"
                      id="empgender"
                    />
                    <label for="emp_gender">&nbsp; {{ gnd.gendername }}</label>
                  </div>
                  <div *ngIf="empFormGroup.controls['empgender'].touched && empFormGroup.controls['empgender'].invalid" class="text-danger">
                    <small>Gender is required.</small>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <label for="" class="form-label">Department: &nbsp;&nbsp;</label>
                  <select formControlName="empdept" id="" class="form-select">
                    <option value="0">Select Department</option>
                    <option [value]="dept.deptid" *ngFor="let dept of departments">
                      {{ dept.deptname }}
                    </option>
                  </select>
                  <div *ngIf="empFormGroup.controls['empdept'].touched && empFormGroup.controls['empdept'].invalid" class="text-danger">
                    <small *ngIf="empFormGroup.controls['empdept'].hasError('required')">Department is required.</small>
                    <small *ngIf="empFormGroup.controls['empdept'].hasError('invalidZero')">Please select a valid department.</small>
                  </div>
                </div>
                <div class="form-group mb-3">
                    <label for="empaddress" class="form-label">Address</label>
                    <input
                      formControlName="empaddress"
                      id="empaddress"
                      class="form-control"
                    />
                  <div *ngIf="empFormGroup.controls['empaddress'].touched && empFormGroup.controls['empaddress'].invalid" class="text-danger">
                    <small>Address is required.</small>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <label for="" class="form-label">State: &nbsp;&nbsp;</label>
                  <select
                    formControlName="empstate"
                    class="form-select"
                    id="states"
                    (change)="getCitiesByStateId($event)"
                  >
                    <option value="0">Select State</option>
                    <option [value]="state.stateid" *ngFor="let state of states">
                      {{ state.statename }}
                    </option>
                  </select>
                  <div *ngIf="empFormGroup.controls['empstate'].touched && empFormGroup.controls['empstate'].invalid" class="text-danger">
                    <small *ngIf="empFormGroup.controls['empstate'].hasError('required')">State is required.</small>
                    <small *ngIf="empFormGroup.controls['empstate'].hasError('invalidZero')">Please select a valid state.</small>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <label for="">City &nbsp;&nbsp;</label>
                  <select formControlName="empcity" id="" class="form-select">
                    <option value="0">Select City</option>
                    <option [value]="city.cityid" *ngFor="let city of cities">
                      {{ city.cityname }}
                    </option>
                  </select>
                  <div *ngIf="empFormGroup.controls['empcity'].touched && empFormGroup.controls['empcity'].invalid" class="text-danger">
                    <small>City is required.</small>
                  </div>
                </div>
                <div class="btn-div mb-5">
                  <button
                  *ngIf="isEdit"
                    [ngClass]="
                      'btn btn' +
                      (empFormGroup.controls['empid'].value > 0
                        ? '-warning'
                        : '-primary')
                    "
                    (click)="addOrUpdateEmp()"
                  >
                    {{ empFormGroup.controls["empid"].value > 0 ? "Edit" : "Signup" }}
                  </button>
                  &nbsp;
                  <button type="button" class="btn btn-dark" (click)="onBack()">
                    Back
                  </button>
                </div>
              </form>
        </div>
    </div>
</div>